.container.testimonials__container {
  width: 40%;
  padding-bottom: 4rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

/* ========== Media Queries (Medium Devices) ========== */

@media screen and (max-width: 1024px) {
  .container.testimonials__container {
    width: 60%;
  }
}

/* ========== Media Queries (Small Devices) ========== */

@media screen and (max-width: 600px) {
  .container.testimonials__container {
    width: var(--container-width-sm);
  }
}
